
body{
/*font-family:Poppins,Helvetica,sans-serif;
font-size: 10pt;*/
font-family:DejaVu Sans,sans-serif !important;
    font-size: 9pt;
}

table{
	border: none;
	border-collapse:collapse;
	width: 80%;
	margin: 0 auto;
}

.center_cont{
	text-align: center;
}
td,th{
	border: 0.1px #92D050 solid;
	padding: 3px;
}

    .radius_img {
      width:40px;
      height:40px; 
    }

.header{
	background-color: #16427F;
	color: #FFFFFF;
}

.text-center{
  font-family:DejaVu Sans,sans-serif;
  text-align: center;  
}

.text-center-header{
  text-align: center;  
}